<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>FH-Kiel AskHere</title>

    <link rel="icon" href="images/favicon.ico" type="ico" sizes="16x16">
    <link href="./stylesheets/stylesheet1.css" rel="stylesheet" type="text/css" />
    <link href="./stylesheets/responsive askhere.css" rel="stylesheet" type="text/css" />

    <script>
        function validateForm() {
/////////////////////////////////////////////////////
            var a = document.forms["Form"]["title"].value;
            if (a == null || a == "") {
                alert("Please enter your \"Title of Question\" ");
                return false;
            }
            return 1;
        }
     </script>
</head>

<body>
<div class="win-wrap">

    <div class="wrapper">

        <div class="content">

            <div class="header">
                <div class="header-logo"><img src="images/fh-kiel header logo.jpg" width="100%" /></div>
                <div class="logout-pannel">
                    <div class="logout-btn"><div class="log-name">Welcome <%= uname%> <a href="/logout">Logout</a></div></div>
                </div>
                <div class="navbar">
                    <div class="menu">
                        <ul>
                            <li style="font-size: larger;font-family: FontAwesome"><a href="/">Home</a></li>&nbsp;<span class="arrow">&#x25BA;</span>
                            <li style="font-size: larger;font-family: FontAwesome"><a href="/askq">AskHere</a></li>&nbsp;<span class="arrow">&#x25BA;</span>
                            <li style="font-size: larger;font-family: FontAwesome"><a href="/profile">Profile</a></li>&nbsp;<span class="arrow">&#x25BA;</span>
                            <li style="font-size: larger;font-family: FontAwesome"><a href="/contact">About Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="main-body">
                <div class="mainbody-content">

                    <div class="askq-content">


                    <form method="POST" action="/submitq" onSubmit="return validateForm();" name="Form">




                            <div class="askq-title">

                            <input class="textbox"type="text"  name="title" value="" placeholder="Title of Question">
                            <br><br>

                            </div>

                            <div class="askq-desc">

                                <div align="center" style="font-weight: bold">Description : </div><br />

                                <textarea name="desc" cols="50" rows="10" style="font-size: large">

                                </textarea>

                                <br/><br/><br/>
                                <div align="center"><input type="submit" value="Submit" class="askbutton"></div>

                            </div>


                    </form>
                    </div>




                </div>
                </div>
            </div>

        </div>

        <div class="footer">
            <div class="footerlinks">
                <ul>
                    <li><a href="/">Homepage</a></li>&nbsp|&nbsp;
                    <li><a href="http://www.fh-kiel.de">FH-Kiel</a></li>&nbsp|&nbsp;
                    <li><a href="/contact">About Us</a></li>
                </ul>
            </div>
        </div>

</div>
</body>

</html>
